- if flash[:notice]
  div class="alert alert-success"
    = flash[:notice]

= bootstrap_form_for(@user) do |f|
  = f.alert_message 'Folgende Fehler sind aufgetreten:'
  = f.text_field :name, label: 'Nachname'
  = f.text_field :first_name, label: 'Vorname'
  = f.text_field :vulgo, label: 'Pfadiname'
  = f.text_field :abteilung, label: 'Abteilung'
  = f.file_field :avatar, label: 'Foto (bitte nur .jpg oder .png)'

  = f.submit 'Anmelden', class: 'btn btn-success mb', id: 'send'
