.padding
  h1 TN
  .well
    .overflow
      table.table.table-bordered.table-striped.table-condensed.table-hover#user-table
        thead
          tr
            th Status
            th Vulgo
            th Name
            th Vorname
            th Abteilung
            th Avatar
            th Link
            th
        tbody
          -@users.each do |u|
            tr
              td =(u.state ? 'Eingecheckt' : 'Ausgecheckt')
              td = u.vulgo
              td = u.name
              td = u.first_name
              td = u.abteilung
              td
                a href=u.avatar.url(:medium) = u.avatar_file_name
              td
                a href="#{user_url u.uid}" = user_url u.uid
              td
                a href=edit_user_path(u.uid) = icon 'edit'
                '
                =link_to icon('trash'), u, method: :delete
