.container
  h1.mb
    => @user.vulgo
    span[class=(@user.state ? 'label label-success' : 'label label-danger')]=(@user.state ? 'Eingecheckt' : 'Ausgecheckt')

  .row.mb
    .col-sm-4
      = image_tag @user.avatar.url(:medium)
    .col-sm-6
      table.table
        tr.no-border
          th.no-border Vorname
          td.no-border = @user.first_name
        tr
          th.no-border Name
          td.no-border = @user.name
        tr
          th.no-border Abteilung
          td.no-border = @user.abteilung
