.padding
  h1 Events
  .well
    .overflow
      table.table.table-bordered.table-striped.table-condensed.table-hover#user-table
        thead
          tr
            th User
            th State
            th Created at
        tbody
          - @events.order(created_at: :desc).each do |e|
            tr
              td
                a href=users_path(e.user) = e.user.vulgo
              td = e.state
              td = l e.created_at, format: :pio
