.mb{
  margin-bottom: 50px;
}
.mb-2{
  margin-bottom: 700px;
}

label.required:after {
  content:" *";
}

.overflow {
  overflow: auto;
}

.padding{
  padding: 20px;
}

.no-border{
  border: none !important;
}

.height{
  height: 80%;
}

.inline{
  display: inline;
}