doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    meta charset="utf-8" /
    meta content="width=device-width, initial-scale=1.0" name="viewport" /
    meta content="" name="description" /
    meta content="" name="author" /
    title Pio
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'

    = favicon_link_tag 'favicon.png'
  body
    header#header
      nav.navbar.navbar-inverse
        -unless @show
          ul.nav.navbar-nav
            li class="#{'active' if current_page? root_path }"
              = link_to 'Home', users_path
            li class="#{'active' if current_page? new_user_path }"
              = link_to 'TN erfassen', new_user_path
            li class="#{'active' if current_page? events_path }"
              = link_to 'Events', events_path

    = yield
    footer#footer.midnight-blue
      .container
        | Web by Iltis
